################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SCAFortify/v16/Server/sqlite3
*.cache
*.config
*.exe
*.pdb
*.txt
.vs/SCAFortify/v16/.suo
*.cache
*.cache
SCAFortify/obj/Debug/SCAFortify.csprojAssemblyReference.cache
*.sqlite
.vs/slnx.sqlite
*.sqlite
*.nupkg
*.sqlite
packages
*bin
obj

